article.container{line-height: 1.8;}
body{background:RGB(190, 227, 219);}
body{color:RGB(85, 91, 110);}
h1{font-family: "bradley hand";}
h1{text-align: center;}
h1{font-size: 40px;}
img{float:left;}
img{height:300px; width:400px; }
.flex-container{display:flex;}